<div class="subject delete">
  <h2>Delete Photo</h2>
  
  <%= form_for(:project, :url => {:action => 'destroy', :id => @project.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this photo?</p>
  
    <p class="reference-name"><%= @project.name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete") %>
    </div>
    
  <% end %>
  <div>
	<%= link_to(button_tag("Cancel"), {:action => 'list'}, :class => 'back-link') %>
  </div>
</div>