<% provide(:title, 'All Photos') %>
<h1>All Photos</h1>

<div class="projects">
	<p>
		<%= link_to(button_tag("Add New Photo",class: "btn btn-primary"), {:action => 'new'}, :class => 'action new') %>
	</p>

	<div id="wrap">
		<div id="gallery">
			<% @projects.each do |project|%>
				<li id="photo_avatar">

						<%= link_to(image_submit_tag(project.avatar.url(:thumb)), {:action=>'show',:id=>project.id}) %>

					<div><%= project.position%></div>
				</li>
			<% end %>
		</div>
	</div>
</div>
