<% provide(:title, 'All Photos') %>
<h1>All Photos</h1>

<ul class="projects">
	<p>
		<%= link_to(button_tag("Add New Photo",class: "btn btn-primary"), {:action => 'new'}, :class => 'action new') %>
	</p>
	<!-- 	original 

	<% @projects.each do |project|%>
		<div><%= link_to(image_submit_tag(project.avatar.url(:thumb),:class=>"img-rounded"), {:action=>'show',:id=>project.id}) %></div>
	<% end %>

	-->

	<ul class="thumbnails">
	<% @projects.each do |project|%>
		<li class="span1.5">
			
				<%= link_to(image_submit_tag(project.avatar.url(:thumb),:class=>"img-circle"), {:action=>'show',:id=>project.id}) %>
			
		</li>
	<% end %>
	</ul>

	<!--
	<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
		<% @projects.each do |project|%>
			<%= link_to(image_submit_tag(project.avatar.url(:thumb),:class=>"img-rounded"), {:action=>'show',:id=>project.id}) %>
		<% end %>
	</div>
	-->


</ul>
